<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ivatsko_RequestPrice::records_allrecords" title="Price Request" module="Ivatsko_RequestPrice" sortOrder="999" parent="Magento_Customer::customer" action="records/allrecords" resource="Ivatsko_RequestPrice::records_allrecords"/>/>
    </menu>
</config>
