<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="request_price" id="request_price">
            <module name="Ivatsko_RequestPrice"/>
        </route>
    </router>
</config>
